server:
  port: 1117

spring:
  profiles:
    include: security,swagger
  application:
    name: petcare
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    hikari:
      connectionTimeout: 20000
      maximumPoolSize: 10
      connection-init-sql: select 1
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5431/postgres
    username: postgres
    password: post123!

pet:
  path:
    profileImg: C:\PetCare\image
# logging:
#   level:
#     root: DEBUG
